{{#yield-title}}
{{ Config.app.title }}
{{/yield-title}}

<main class="ui page grid main">

  <div class="row">
    <div class="column">
      <div class="ui icon message">
        <div class="header">Xin chào xin chào!</div>
        <p>
          Nói không phải quá chứ AZTruyen của chúng tôi có đủ các thể loại truyện từ trên xuống dưới từ trái sang phải.
        </p>
        <p>Không tin à?! Click ngay vào Truyện ở trên menu để xem danh sách</p>
        <p>Đừng quên click đăng ký để có thể blah blah blah</p>
        <i class="heart icon"></i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui two column doubling grid">
        <div class="column">
          <h3 class="ui red header">Mới cập nhật</h3>

          <div class="ui segment">
            {{# latestStories}}
            <div class="ui two column grid">
              <div class="column">
                <a href="{{ url }}" title="Click để xem truyện này">{{name}}</a>
              </div>
              <div class="right aligned column">
                <div class="ui green label"><a href="{{url}}{{latestChapter.url }}" title="Click để đọc chương này">Chương<div class="detail">{{latestChapter.number}}</div></a></div>
              </div>
            </div>
            {{/ latestStories}}
          </div>
        </div>

        <div class="column">
          <h3 class="ui red header">Hot nhất trong tuần</h3>

          <div class="ui segment">
            {{# topStories}}
            <div class="ui two column grid">
              <div class="column">
                <a href="{{ url }}">{{ name }}</a>
              </div>
              <div class="right aligned column">
                <div class="ui green label"><div class="detail">{{ views }}</div> Lượt xem</div>
              </div>
            </div>
            {{/ topStories}}

          </div>
        </div>
      </div>
    </div>
  </div>

  {{# Config.app.mobileApps}}
  <div class="row">
    <div class="column">
      <div class="ui three column grid">
        <h3 class="ui red header">azTruyen cũng có hàng trên mobile</h3>
        <div class="center aligned column">
          <a href="{{ Config.app.mobileApps.android }}" target="_blank"><i class="huge android icon"></i></a>
        </div>
        <div class="center aligned column popup" data-content="Đùa đấy, chưa có tiền mua Mac :(">
          <a href="#"><i class="huge apple icon"></i></a>
        </div>
        <div class="center aligned column popup" data-content="Còn cái này chưa học">
          <a href="#"><i class="huge windows icon"></i></a>
        </div>
      </div>
    </div>
  </div>
  {{/ Config.app.mobileApps}}

</main>
