{{#yield-title}}
{{ title }}
{{/yield-title}}

<main class="ui page grid main">
  <div class="row">
    <div class="column">
      <h2 class="ui red center aligned header">{{story.name}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui segment">
        <div class="ui orange ribbon label">Tác giả</div>
        <p><a href="/truyen?tac-gia={{story.author}}">{{story.author}}</a></p>
        <div class="ui orange ribbon label">Thể Loại</div>
        <p>
          {{# story.genres}}
          <a href="/truyen?the-loai={{.}}" class="ui label">{{.}}</a>
          {{/ story.genres}}
        </p>
        <div class="ui orange ribbon label">Nguồn</div>
        <p>Sưu tầm</p>
        <div class="ui orange ribbon label">Giới thiệu</div>
        <p>{{& story.desc}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui form">
        <div class="inline fields">
          <div class="ui action left icon mini input">
            <input type="email" placeholder="abc@lanla.com">
            <div class="ui mini green button">Nhận chapter mới qua email</div>
            <i class="mail icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h2 class="ui red header">Mục lục</h2>
    </div>
  </div>
  <div class="row">
    <div class="ui column relaxed animated list">
      {{#story.chapters}}
      <a href="{{story.url}}{{url}}" class="item"><i class="right bookmark icon"></i> Chương {{number}}: {{name}}</a>
      {{/story.chapters}}
    </div>
  </div>

  <div class="row">
    <div class="center aligned column">
      <div class="ui borderless fluid pagination menu">
        <a class="item">
          <i class="left arrow icon"></i> Previous
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="item">5</a>
        <a class="item">6</a>
        <a class="item">
          Next <i class="icon right arrow"></i>
        </a>
      </div>
    </div>
  </div>

</main>
