{{#yield-title}}
{{ title }}
{{/yield-title}}

<main class="ui page grid main">
  <div class="row">
    <div class="column">
      <h2 class="ui red center aligned header">{{story.name}}</h2>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <div class="ui segment">
        <div class="ui orange ribbon label">Tác giả</div>
        <p><a href="/truyen?tac-gia={{story.author}}">{{story.author}}</a></p>
        <div class="ui orange ribbon label">Thể Loại</div>
        <p>
          {{# story.genres}}
          <a href="/truyen?the-loai={{.}}" class="ui label">{{.}}</a>
          {{/ story.genres}}
        </p>
        <div class="ui orange ribbon label">Nguồn</div>
        <p>Never seen one as a pet before, but I imagine they'd make pretty terrible companions.</p>
        <div class="ui orange ribbon label">Giới thiệu</div>
        <p>{{& story.desc}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui form">
        <div class="inline fields">
          <div class="ui action left icon mini input">
            <input type="email" placeholder="abc@lanla.com">
            <div class="ui mini green button">Nhận chapter mới qua email</div>
            <i class="mail icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h2 class="ui red header">Mục lục</h2>
    </div>
  </div>
  <div class="row">
    <div class="ui column relaxed animated list">
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 1: Trần Thanh Đế</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 2: Trọng sinh</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 3: Nữ y tá tự leo giường</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 4: Về nhà</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 5: Là ai tại hãm hại ta?</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 6: Lâm Tĩnh Nhu</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 7: Bám theo</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 8: Lật sách</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 9: Có được thiên phú hơn người? (1)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 10: Có được thiên phú hơn người? (2)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 11: Xông vào phòng tắm mỹ nữ</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 12: Nhìn thấy xuân quang (1)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 13: Nhìn thấy xuân quang (2)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 14: Tin tốt cũng bị đánh</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 15: Có tội hai người cùng chịu một chỗ</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 16: Một chiêu</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 17: Phá cửa</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 18: Ngươi xem lại thân thể ta là được</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 19: Ta đối với ngươi phụ trách còn không được sao?</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 20: Viên Cầu, Viên đại thiếu</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 21: Thua sạch</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 22: Ngươi... Ngươi không có ý định cứu ta? (1)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 23: Ngươi... Ngươi không có ý định cứu ta? (2)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 24: Đây là một cái hố to</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 25: Tiểu muội là mấu chốt (1)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 26: Tiểu muội là mấu chốt (2)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 27: Đi theo</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 28: Ta là Xe Thần</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 29: Ngọc bội chứa linh khí</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 30: Lạt mềm buộc chặt</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 31: Lại muốn để cho ta chết (1)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 32: Lại muốn để cho ta chết (2)</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 33: Hủy kế hoạch!</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 34: Thua là thua mệnh</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 35: Vận khí không còn?</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 36: Sát chiêu!</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 37: Đều có hậu chiêu</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 38: Lữ Bất Phàm</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 39: Vận khí lại đến</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 40: Là thời điểm kết thúc</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 41: Cùng chúng ta không quan hệ</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 42: Ngọc bội đến tay</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 43: Viên Cầu chơi chiêu</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 44: Đi học</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 45: Càn Khôn Đỉnh</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 46: Không biết nên vui hay buồn</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 47: Tưởng như hai người</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 48: Cơ hội hiếm có</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 49: Trúng độc</a>
      <a href="chapter.html" class="item"><i class="right bookmark icon"></i> Chương 50: Tiểu Hắc chưa chết</a>
    </div>
  </div>

  <div class="row">
    <div class="center aligned column">
      <div class="ui borderless fluid pagination menu">
        <a class="item">
          <i class="left arrow icon"></i> Previous
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="item">5</a>
        <a class="item">6</a>
        <a class="item">
          Next <i class="icon right arrow"></i>
        </a>
      </div>
    </div>
  </div>

</main>
